<!-- Pioneer in USMA rviz catkin_ws/src/pioneerauto/launch/pioneer.rviz 

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu"
    args="0 0 0 0 0 0 base_link imu 100" /> 

   <node pkg="tf" type="static_transform_publisher" name="ra_odomos_aria_base_to_base"
    args="0 0 0 0 0 0 RosAria/odom base_link 100" />
    -->

<launch>
    <node pkg="tf" type="static_transform_publisher" name="top_plate_to_velodyne"
    args="0.17 0.0 0.18 0 0 0 top_plate velodyne 100" />

   <node pkg="tf" type="static_transform_publisher" name="map_to_ra_odom"
    args="0 0 0 0 0 0 map RosAria/odom 100" />

   <node pkg="tf" type="static_transform_publisher" name="top_plate_to_imu"
    args="0 0 0 0 0 0 odom imu 100" />

    <node pkg="tf" type="static_transform_publisher" name="ra_odom_to_odom"
    args="0 0 0 0 0 0 top_plate odom 100" />
<!--  
 <node pkg="tf" type="static_transform_publisher" name="odom_imu"
    args="0 0 0 0 0 0 RosAria/odom imu_frame 100" />

    <node pkg="tf" type="static_transform_publisher" name="imu_to_base"
    args="0 0 0 0 0 0 odom base_link 100" />
  =============   bagfiles  =======================-->
<param name="use_sim_time" value="true"/>

<!--This line sets the path to the ROS bagfiles to run -->
<arg name="path" default="$(env HOME)/catkin_ws/rosbags/pioneer01/"/>

<!--These are the bag files to run 
<arg name="enc_raw" default="$(arg path)enc_raw.bag" /> -->
<arg name="odom" default="$(arg path)pose2D.bag" />
<arg name="imu" default="$(arg path)imu_data.bag" />
<arg name="cmd_vel" default="$(arg path)RosAria_cmd_vel.bag" />
<arg name="p3atpose" default="$(arg path)RosAria_pose.bag" />
<arg name="2dscan" default="$(arg path)scan.bag" />
<!--<arg name="other" default="$(arg path)other.bag" /> -->

<!-- This line runs all the bag files specified above -->
    <node pkg="rosbag" type="play" name="player" output="screen" 
    args=" -r 1.0 --clock $(arg imu) $(arg p3atpose) $(arg 2dscan)"/>

     <!-- ========== Integrate Pioneer Robot ========== -->
    <include file="$(find p2os_urdf)/launch/pioneer3at_urdf.launch"/>

    <!-- Start ekf to make imu into odom -->
    <include file="$(find pioneer3at_navigator)/launch/includes/2dnav_ekf.launch">
    </include>      

    <!-- ========== Start Laser Scan Matcher ==========     
    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
        <param name="fixed_frame" value="odom"/>
        <param name="base_frame" value="base_link"/>
        <param name="publish_pose_stamped" value="true"/>
        <param name="use_imu" value="false"/>
        <param name="use_odom" value="true"/>
        <param name="use_vel" value="false"/>
        <param name="publish_tf" value="false"/>
        <remap from="/odom" to="/RosAria/pose"/>
    </node>

    <node pkg="pioneer3at_navigator" type="imu_to_odom.py" name="imu_to_odom" output="screen"/>  
-->

    <!--  ************** Navigation  ***************  -->
    <include file="$(find pioneer3at_navigator)/launch/includes/nomap_move_base.launch.xml"/>

    <!-- Start an rviz node with a custom configuration  -->
    <node pkg="rviz" type="rviz" name="rviz" args="-l $(find pioneer3at_navigator)/rviz.log -d $(find pioneer3at_navigator)/launch/includes/nomap_2dnav.rviz"/>

</launch>
<!--
rosbag record -O mylaserdata /scan /tf 
-->

