<!-- Pioneer in USMA rviz catkin_ws/src/pioneerauto/launch/pioneer.rviz  -->
<launch>
<!-- Transform for Velodyne to map TODO fix this  
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom"
    args="0 0 0 0 0 0 map odom 100" />  -->

<node pkg="tf" type="static_transform_publisher" name="baselink_to_velodyne"
   args=" 0.18 0 0.475 -1.57 0 0 base_link velodyne 100" />

     <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu"
    args="0 0 0.475 0 0 0 base_link imu 100" />

    <node pkg="tf" type="static_transform_publisher" name="baselink_to_basefootprint"
    args="0 0 0 0 0 0 base_link base_footprint 100" />

     <!-- ========== Load Map Server   ========= -->
  <node pkg="map_server" type="map_server" name="map_server" output="screen"
    args="$(find pioneer3at_navigator)/maps/mapCleanRoom.yaml">
           <param name="frame_id" value="/map"/>
           
</node> 
     <!-- ========== Integrate Pioneer Robot ========== -->

    <include file="$(find p2os_urdf)/launch/pioneer3at_urdf.launch"/>

   <node pkg="rosaria" type="RosAria" name="RosAria">
    <param name="port" value="/dev/ttyUSB0"/>
    <remap from="/tf" to="/rosariatf"/>
  </node>

   <!-- ========== Joystick  and Command Velocity Mux ========== -->
    <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>

    <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
        <param name="yaml_cfg_file" value="$(find pioneer3at_navigator)/param/mux.yaml"/>
        <remap from="cmd_vel_mux/output" to="RosAria/cmd_vel"/>
    </node>

    <include file="$(find pioneer3at_navigator)/launch/xbox360_teleop.launch"/>

   <!-- ========== Start the IMU   ========== -->
    <node pkg="phidgets_imu" type="phidgets_imu_node" name="phidgets_imu">
        <remap from="/imu/data_raw" to="/imu/data_raw"/>
    </node> 
 	<!--<node pkg="receive_xsens" type="receive_xsens" name="receive_xsens" output="screen" respawn="true">
            <remap from="/imu/data" to="/imu/data_raw"/> 
        </node>-->

   <!-- ========== Start the 3d Laser and Laser Scan ========== 
    <include file="$(find velodyne_pointcloud)/launch/DML_VLP16_points.launch">
    </include>  -->
    <!-- Start the 3d LRF -->
    <include file="$(find pioneer3at_navigator)/launch/velodyne32e.launch">
    </include>

    <!-- Start ekf to make imu into odom -->
    <include file="$(find pioneer3at_navigator)/launch/pioneer_ekf.launch">
    </include> 

  <!--  ************** Navigation  ***************  -->
  <include file="$(find pioneer3at_navigator)/launch/includes/move_base.launch.xml"/>


     <include file="$(find pioneer3at_navigator)/launch/includes/amcl.launch.xml">
  </include>
 <!-- Start an rviz node with a custom configuration  -->



</launch>
<!--
rosbag record -O mylaserdata /scan /tf 
-->

