<!-- 
Example launch file: launches the scan matcher with pre-recorded data
-->

<launch>
  <arg name="IS_TWISTSTAMPED" default="true" />
  <arg name="use_rviz" default="true" />

  #### provide visualization with rviz ##########################

  <param name="/stamped_vel" value="$(arg IS_TWISTSTAMPED)"/>

  <group if="$(arg use_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" 
          args="-d $(find pioneer3at_navigator)/launch/includes/laser_odom.rviz"/>
  </group>

  #### publish an base_link -> laser transform ###########

    <node pkg="tf" type="static_transform_publisher" name="top_plate_to_velodyne"
    args="0.17 0.0 0.18 0 0 0 top_plate velodyne 100" />

    <node pkg="tf" type="static_transform_publisher" name="map_to_world"
    args="0 0.0 0 0 0 0 world map 100" />

    <!-- ========== Start the IMU   ========== -->
    <include file="$(find xsens_driver)/launch/xsens_driver.launch"/>  

  #### start the laser scan_matcher ##############################

    <include file="$(find pioneer3at_navigator)/launch/includes/VLP16_with_laserscan.launch.xml">
    </include>     

  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" 
    name="laser_scan_matcher_node" output="screen">
     <!--      <remap from="/RosAria/pose" to="/odom"/>  -->
    <param name="max_iterations" value="10"/>

  </node>

  #### start pioneer robot with joystick ############################## 

     <!-- ========== Integrate Pioneer Robot ========== -->
    <include file="$(find p2os_urdf)/launch/pioneer3at_urdf.launch"/>

    <node pkg="rosaria" type="RosAria" name="RosAria">
        <param name="port" value="/dev/pioneer"/>
<param name="tf_prefix" value="RosAria"/>
      <!--  <remap from="/RosAria/pose" to="/odom"/>
        <param name="tf_prefix" value="RosAria"/>
        <remap from="/RosAria/cmd_vel" to="/teleop_velocity_smoother/raw_cmd_vel"/> -->
    </node>

    <!-- ========== Joystick  and Command Velocity Mux ========== -->
    <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>

    <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
        <param name="yaml_cfg_file" value="$(find pioneer3at_navigator)/param/mux.yaml"/>
        <remap from="cmd_vel_mux/output" to="/RosAria/cmd_vel"/>
    </node>

    <include file="$(find pioneer3at_navigator)/launch/xbox360_teleop.launch"/>  

</launch>
