<!-- Pioneer in USMA rviz catkin_ws/src/pioneerauto/launch/pioneer.rviz  -->
<launch>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
<!-- Transform for Velodyne to map TODO fix this  
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom"
    args="0 0 0 0 0 0 map odom 100" />  -->

    <node pkg="tf" type="static_transform_publisher" name="baselink_to_velodyne"
    args="0.18 0.0 0.475 0 0 0 base_link velodyne 100" />

     <node pkg="tf" type="static_transform_publisher" name="top_plate_to_imu"
    args="0 0 0 0 0 0 top_plate imu 100" />

    <node pkg="tf" type="static_transform_publisher" name="baselink_to_basefootprint"
    args="0 0 0 0 0 0 base_link base_footprint 100" />

     <!-- ========== Integrate Pioneer Robot ========== -->

    <include file="$(find p2os_urdf)/launch/pioneer3at_urdf.launch"/>

   <node pkg="rosaria" type="RosAria" name="RosAria">
    <param name="port" value="/dev/ttyUSB1"/>
    <remap from="/RosAria/cmd_vel" to="/teleop_velocity_smoother/raw_cmd_vel"/>
    <remap from="/tf" to="/rosariatf"/>
  </node>

    <!-- <remap from="/tf" to="/rosariatf"/> ========== Command Velocity multiplexer and Joystick Controller ========== -->
    <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>

    <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
        <param name="yaml_cfg_file" value="$(find pioneerauto)/param/mux.yaml"/>
        <remap from="cmd_vel_mux/output" to="mobile_base/commands/velocity"/>
    </node>

    <include file="$(find pioneerauto)/launch/xbox360_teleop.launch"/>

    <!-- Start the 3d LRF -->
    <include file="$(find velodyne_pointcloud)/launch/DML_VLP16_points.launch">
    </include>

    <!-- Start the imu roslaunch ???_imu imu.launch -->
    <include file="$(find pioneerauto)/launch/imu.launch">
    </include> 

    <!-- Start ekf to make imu into odom -->
    <include file="$(find pioneerauto)/launch/pioneer_ekf_w2.launch">
    </include> 

  <!--  ************** Navigation  ***************  -->
<!-- TODO update this below. Need to use a real map of here. Need to use the robot sensors. -->
  <include file="$(find pioneerauto)/launch/includes/move_base.launch.xml"/>

  <!--  ****** Maps *****  -->
  <node pkg="map_server" type="map_server" name="map_server" output="screen"
    args="$(find pioneerauto)/maps/thayermap.yaml">
           <param name="frame_id" value="/map"/>
</node>

     <include file="$(find pioneerauto)/launch/includes/amcl.launch.xml">
    <arg name="scan_topic" value="/scan"/>
    <arg name="use_map_topic" value="true"/>
    <arg name="global_frame_id" value="map"/>  
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>
 <!-- Start an rviz node with a custom configuration  -->
    <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find pioneerauto)/launch/pioneer2.rviz"/>

</launch>
<!--
rosbag record -O mylaserdata /scan /tf 

-->

