<!-- Pioneer in USMA rviz catkin_ws/src/pioneerauto/launch/pioneer.rviz  -->
<launch>
<!--  <arg name="initial_pose_x" default="3.15"/>  dml office -->
<!--  <arg name="initial_pose_y" default="8.07"/>   dml office -->
    <arg name="initial_pose_x" default="2.0"/>   
    <arg name="initial_pose_y" default="2.0"/><!--  -->
    <arg name="initial_pose_a" default="0.0"/>

    <node pkg="tf" type="static_transform_publisher" name="top_plate_to_velodyne"
    args="0.17 0.0 0.18 0 0 0 top_plate velodyne 100" />

    <node pkg="tf" type="static_transform_publisher" name="top_plate_to_imu"
    args="0 0 0 0 0 0 top_plate imu 100" />

    <!-- ========== Load Map Server   ========= 
    <node pkg="map_server" type="map_server" name="map_server" output="screen"
    args="$(find pioneer3at_navigator)/maps/ThayerNorthMinus.yaml">
           <param name="frame_id" value="/map"/>
    </node>   -->

    <node pkg="map_server" type="map_server" name="map_server" output="screen"
    args="$(find pioneer3at_navigator)/maps/maze.yaml">
           <param name="frame_id" value="/map"/>
    </node>

     <!-- ========== Integrate Pioneer Robot ========== -->
    <include file="$(find p2os_urdf)/launch/pioneer3at_urdf.launch"/>

    <!-- Name of the map to use (without path nor extension) and initial position 
    <arg name="map_file"       default=" $(env TURTLEBOT_STAGE_MAP_FILE)"/> 
    <arg name="world_file"     default=" $(env TURTLEBOT_STAGE_WORLD_FILE)"/>   -->
    <param name="/use_sim_time" value="true"/>
    
    
    <arg name="map_file" value="$(find pioneer3at_navigator)/maps/maze.yaml"/> <!-- robopark_plan -->
    <arg name="world_file" value="$(find pioneer3at_navigator)/maps/stage/sim_p3at.world"/>
    
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
        <param name="base_watchdog_timeout" value="0.5"/>
        <remap from="odom" to="odom"/>
        <remap from="base_pose_ground_truth" to="base_pose_ground_truth"/>
        <remap from="cmd_vel" to="/RosAria/cmd_vel"/>
        <remap from="base_scan" to="scan"/>
    </node>

    <!-- ========== Joystick  and Command Velocity Mux ========== -->
    <node pkg="nodelet" type="nodelet" name="mobile_base_nodelet_manager" args="manager"/>
    
   <node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
        <param name="yaml_cfg_file" value="$(find pioneer3at_navigator)/param/mux.yaml"/>
        <remap from="cmd_vel_mux/output" to="/RosAria/cmd_vel"/>
    </node>  

    <include file="$(find pioneer3at_navigator)/launch/xbox360_teleop.launch"/>  

    <!--  ************** Navigation  ***************    -->
    <include file="$(find pioneer3at_navigator)/launch/includes/limited_move_base.launch.xml"/>

    <!-- Publishes the transform from odom to map.  -->
    <include file="$(find pioneer3at_navigator)/launch/includes/amcl.launch.xml">
        <arg name="scan_topic" value="/scan"/>
        <arg name="use_map_topic" value="true"/>
        <arg name="global_frame_id" value="map"/>
        <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
        <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
        <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    </include>

    <!-- Start an rviz node with a custom configuration  -->
    <node pkg="rviz" type="rviz" name="rviz" args="-l -d $(find pioneer3at_navigator)/launch/includes/pioneer2.rviz">
    </node>

</launch>
<!--
rosbag record -O mylaserdata /scan /tf 
-->

