<!-- 
  Turtlebot navigation simulation:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->

<launch>

   <node pkg="rosaria" type="RosAria" name="RosAria">
    <param name="port" value="/dev/pioneer"/>
    <remap from="/RosAria/cmd_vel" to="/teleop_joystick/cmd_vel"/>
    <remap from="/tf" to="/rosariatf"/>
  </node>

  <include file="$(find pioneer3at_navigator)/launch/includes/xbox360_teleop.launch"/>

</launch>

