<!-- 
  Turtlebot navigation simulation:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->

<launch>

   <node pkg="rosaria" type="RosAria" name="RosAria">
    <param name="port" value="/dev/ttyUSB0"/>
    <remap from="/RosAria/cmd_vel" to="/teleop_velocity_smoother/raw_cmd_vel"/>
    <remap from="/tf" to="/rosariatf"/>
  </node>

  <include file="$(find pioneer3at_navigator)/launch/xbox360_teleop.launch"/>

</launch>

